// 1️⃣ Importa funciones de Bootstrap
@import "bootstrap/scss/functions";

// 2️⃣ Sobrescribe variables ANTES del core
$primary: #003353;
$warning: #FF9800;
//$success: #4CAF50;

// 3️⃣ Importa el core completo
@import "bootstrap/scss/bootstrap";